<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button id="sideBarMenu"></ion-menu-button>
    </ion-buttons>
    <ion-title style="text-align: center;">Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-card>
            <ion-img src="https://i.pinimg.com/736x/bf/18/29/bf1829abd6cfee4cb7046557a4070a62.jpg" class="img"></ion-img>
            <ion-header style="text-align: center;">
              <ion-card-title><h3>Muhammad Agung Nursamsi</h3></ion-card-title>
              <ion-card-title><h6>00000026074</h6></ion-card-title>
            </ion-header>
            <ion-card-content>
             Project ini dibuat berdasarkan tugas mingguan modul 1-7 dan juga dengan bantuan Youtube,stackoverflow,google,
              dan teman-teman ku yang telah membantu dikala buntu
            </ion-card-content>
          </ion-card>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
